body{
    margin: 0;
}

/* -- GRID STYELS -- */
#grid{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 128px 40px 700px;
    grid-template-areas: 
        "header  header  header"
        "nav     nav     nav"
        "input   images  galleries"
        "footer  footer  footer";

    width: 100%;
    min-width: 750px;
    max-width: 1360px;
    margin: 0 auto;
}

header{
    grid-area: header;

    background-color: #DAFFEF;

    text-align: center;
}

#navbar{
    grid-area: nav;

    display: flex;
}

#user-input{
    grid-area: input;

    background-color: #d1cad1;
    padding: 10px;
}

#img-display{
    grid-area: images;

    background-color: rgb(233, 230, 233);
    padding: 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 10px;

    overflow: auto;
}

#gal-list{
    grid-area: galleries;

    background-color: #d1cad1;

    padding: 10px;

    text-align: center;

    overflow: auto;
}

footer{
    grid-area: footer;

    background-color: #DAFFEF;
    padding: 15px;
}

/* -- NAVBAR STYLES -- */
.nav-btn{
    width: 25%;
    height: 40px;

    background-color: #4DA871;

    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-btn:hover{
    background-color: #408C5E;
}

.nav-btn:active{
    background-color: #3A7E55;
}

/* -- FORM STYLES -- */
.text-field{
    width: 162px;
}

/* -- IMAGE DISPLAY STYLES -- */
.galImage {
    height: 120px;
    transition: 0.2s;
    z-index: 5;

    border: 1px solid black;
}

.galImage:hover {
    transform: scale(1.2);
    z-index: 6;
}

/* -- GALLERY SELECT SECTION -- */
#galleries{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}

.gallery{
    aspect-ratio: 1/1;
    width: 85%;
    max-height: 85%;
    max-width: 180px;
    border: 1px solid black;

    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery:hover{
    background-color: #408C5E;
}